body{
    margin: o;
    font-family: Nunito;

}
button {
    background-color: #EC4067;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    border-style: none;
   
   }

  .moringa{
      display: inline;
      padding: 10px;
      font-size: 16px;
      float: left;

  }
  .moringa::first-word{
      color: hotpink;
  }
  .image{
      width: 300px;
      height: 206px;
      display: inline;
      transition: .4s ease-in-out;
      padding: 10px;
      padding-inline-end: 10px;
    }
    .bottom-left{
       position: absolute;
       bottom: 1px;
       left: 30px;
       color: white;
       font-size: x-small;
    }
    
  
  .mentors{
      text-align: center;
      display: block;
      column-gap: normal;
      margin-top: 10px;
      margin-left: auto;
      text-indent:5px;
          
  }

  h2{
      color: hotpink;
  }
  footer{
      background-color: rgb(116, 103, 103); fill-opacity: inherit;
      align-items: center;
      padding: 20px;
      display:flex center;
      text-align: center;
    
  }
  .mentors:li{
      display: block;
      margin-block-end: 5px;
      margin-block-start: 5px;
      margin-top: 30px;
      position: absolute;
      
  }
  h4{margin-top: 30px;
     background-color: rgb(116, 103, 103) 20px;fill-opacity: inherit;padding: 5px;
     overflow: visible;
     display: inline-flex;
     padding-left: 20px;
     overflow-wrap: normal;
     background-size: 10px;


  }
  .fa fa-heart{
      width:5px;height: 20px
  }
  .margin{
      padding: 10px;
  }
  .content{
      padding: 10px;
      display: inline;
  }
  
  .column{
      float: left;
      padding: 5px;
      display: block;
      column-gap: normal;
      flex: 33.3%;
      text-align: center;
  }
  .row::after{
      content: "";
      clear: both;
      display: block;

  }
  span{
      display: inline-block;
      margin-top: 2px;
      padding: 5px;
  }
  p2{
      text-indent: inherit;
      text-align: left;
      padding: 5px;
      padding-top: 5px;
  }
  ul{
      list-style-type: none;
      padding: 5px 6px;
      margin: 3px;
      
      
  }
  li a{
      display: block;
      background-color: none;
      padding: 8px;
      text-align: center;
 }
  li a:hover{
      background-color: blueviolet;
  }
  button:hover{
      background-color: black;
  }
  li{
      float: right;
  }
  .nav_bar li a{
    float: right;
    padding: 5px;
  }
  

