body{
    margin: o;
    font-family: Nunito;

}
.container{
    margin: 0px 0px 0px 0px;
}
.nav-bar{
    display: block;
    margin-bottom: 400px;
}
.nav_bar ul{
    display: inline-block;
    float: right;
    list-style-type: none;

}
.nav-bar li{
    list-style-type: none;
      text-decoration: none;
      margin-bottom: 30px;
      float: right;  
      display: inline;  
      margin-left: 30px;
}
   a{
    display: block;
    padding: 8px;
      background-color: none;
      text-decoration: none;
      
}

button {
    background-color: #EC4067;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    border-style: none;
   
   }

  .moringa{
      margin-top: 200px;
      margin-bottom: 50px;
  }
  .stories{
      margin-bottom: 50px;
  }
  #p-2{
      margin-left:30px;
      padding-left: 20px;
      width: 550px;
  }
  .image{
      width: 300px;
      height: 206px;
      display: inline;
      transition: .4s ease-in-out;
      padding: 10px;
      padding-inline-end: 10px;
    }
    .bottom-left{
       position: absolute;
       bottom: 1px;
       left: 30px;
       color: white;
       font-size: x-small;
    }
    
  
  .mentors{
      text-align: center;
      display: block;
      column-gap: normal;
      margin-top: 10px;
      margin-left: auto;
      text-indent:5px;
          
  }

  h2{
      color: hotpink;
  }
  footer{
      background-color: rgb(116, 103, 103); fill-opacity: inherit;
      align-items: center;
      padding: 20px;
      display:flex center;
      text-align: center;
    
  }
  .mentors:li{
      display: block;
      margin-block-end: 5px;
      margin-block-start: 5px;
      margin-top: 30px;
      position: absolute;
      
  }
  h4{margin-top: 30px;
     background-color: rgb(116, 103, 103) 20px;fill-opacity: inherit;padding: 5px;
     overflow: visible;
     display: inline-flex;
     padding-left: 20px;
     overflow-wrap: normal;
     background-size: 10px;


  }
  .fa fa-heart{
      width:5px;height: 20px
  }
  .margin{
      padding: 10px;
  }
  .content{
      padding: 10px;
      display: inline;
  }
  
  .column{
      float: left;
      padding: 5px;
      display: block;
      column-gap: normal;
      flex: 33.3%;
      text-align: center;
  }
  .row::after{
      content: "";
      clear: both;
      display: block;

  }
  span{
      display: inline-block;
      margin-top: 2px;
      padding: 5px;
  }
  p2{
      text-indent: inherit;
      text-align: left;
      padding: 5px;
      padding-top: 5px;
  }


  li a:hover{
      background-color: blueviolet;
  }
  button:hover{
      background-color: black;
  }
  
  

