body{
    margin: o;
    font-family: Nunito;

}
button {
    background-color: #EC4067;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    border-style: none;


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: none;
    color: rgba(0, 0, 0, 0.719);
    cursor: default;

  }
  .moringa{
      display: inline;
      color: hotpink black;
      padding: 10px;
      font-size: 16px;
      float: left;

  }
  .image{
      min-width: 50px;
      min-height: 40px;
      display: inline-block; 
       
  }
  .image:hover{
          cursor: zoom-in;

  }
  .mentors{
      text-align: justify;
      display: block;
      
  }
  h2{
      color: hotpink;
  }
  footer{
      background-color: grey;
      align-items: center;
      padding: 20px;
      display:flex center;
      text-align: center;
  }